h1 {
    background-image:url(../img/pedro-lastra-Nyvq2juw4_o-unsplash.jpg) ; background-size: cover
  ; background-repeat: none
  ;background-position: center
  ; height: 500px ;color: white; text-align: center; letter-spacing: 100px;}
  h1 div {position: relative;top: 250px; font-family: 'Bebas Neue', cursive; font-size: 40px
    ; letter-spacing: 5px;}
