



  @media only screen and (min-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      /* grid-column-gap: 30px; */
      /* justify-items: center;
      align-items: center; */
      grid-template-areas: 
        'header main '
        'footer aside';
    }
  }
  
  
  @media only screen and (min-width: 1024px) {
    .grid-container { 
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      /* grid-column-gap: 30px; */
      /* justify-items: center;
      align-items: center; */
      grid-template-areas: 
        'header main '
        'footer aside';
    }

    
  }
  @media only screen and (min-width: 1280px) {
    .grid-container { 
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      /* grid-column-gap: 30px; */
      /* justify-items: center;
      align-items: center; */
      grid-template-areas: 
        'header main '
        'footer aside';
    }

    
  }

/*------------------------------------------------------------------
[ contacto ]*/
 


  @media (max-width: 576px) {
    .contact100-form {
      padding: 43px 15px 57px 117px;
    }
  }
  
  
  @media (max-width: 480px) {
    .contact100-form {
      padding: 43px 15px 57px 15px;
    }
  
    .label-input100 {
      text-align: left;
      position: unset;
      top: unset;
      left: unset;
      width: 100%;
      padding: 0 5px;
    }
  }
  /*------------------------------------------------------------------
[  ]*/
@media (min-width: 320px) {
  .text-cob {font-weight: normal; margin-left: 5px;

    
  }
}


@media (min-width: 480px) {
  .text-cob {font-weight: normal; margin-left: 5px;

    
  }
}

@media only screen and (min-width: 576px) {
  .text-cob {font-weight: normal; margin-left: 5px;

    
  }
}
@media (min-width: 768px) {
  .text-cob {font-weight: bolder; margin-left: 5px;

    
  }
}


@media (min-width: 1024px) {
  .text-cob {font-weight: bolder; margin-left: 5px;

    
  }
}

@media only screen and (min-width: 1280px) {
  .text-cob {font-weight: bolder; margin-left: 5px;

    
  }
}

@media only screen and (min-width: 1366px) {
  .text-cob {font-weight: bolder; margin-left: 5px;

    
  }
}





